@model IEnumerable<BookCollection.Models.Book>

<h1>Usuwanie książek</h1>

<hr />

<style type="text/css">
        
    .btn {
        border: 3px solid #FF0000;
        background-color: white;
        color: #FF0000;
        padding: 15px 30px;
        font-size: 16px;
        margin-bottom: 15px;
    }

</style>

<div class="delete">
    <form asp-action="DeleteBook" method="post">
        <button class="btn btn-default">Usuń</button>
    </form>
</div>
@* @Html.ActionLink("Delete", "Delete", new { id = item.BookId }) *@

<link href="~/css/table.css" type="text/css" rel="stylesheet" />

<table>
    <tr>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Gatunek</th>
        <th>Data wydania</th>
        <th></th>
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.NameAuthor @book.SurnameAuthor </td>
            <td>@book.Genre</td>
            <td>@book.YearOfPublication</td>
            <td><input type="checkbox"></td>
        </tr>
    }
</table>